PORT=3000
NODE_ENV=development
OMOS_SITE_URL=https://omos.onegodian.com
OMOS_BRAND=OMOS
OMOS_OPERATOR=ONEGODIAN, LLC
OMOS_API_KEYS=starter:replace_with_sha256_hash:starter
OMOS_ENABLE_ANALYTICS=false
OMOS_ENABLE_RUNTIME_LOGS=true
OMOS_ENABLE_PLUGIN_SYNC=true
OMOS_ALLOWED_ORIGINS=https://onegodian.com,https://onegodian.org,https://quantumohi.com
